body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; Prevent scrolling */
    font-family: Product Sans, sans-serif;
    overflow-x: hidden;
}
header{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 50px;
}
.mainlogo{
    margin-top: -25px;
}
.custom-link {
    color: inherit; /* Keeps the text color the same as the parent element */
    text-decoration: none; /* Removes the underline */
  }
.custom-link:hover {
    color: #2db9f0;
}
.Header-links{
    margin-top: 5px;
    margin-left: 25px;
    color: white;

    font-size: medium;
    font-family: Product Sans, sans-serif;

}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Send the video behind other content */
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the video is behind other content */
    object-fit: cover; /* This ensures the video covers the entire container without distortion */
}


.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 30px;
}
.content-item {
    /* padding-top: 60px; */
    margin-bottom: 20px; /* Add some spacing between the items */
    margin-top: 60px;
    font-weight: 100;

}
.content-item-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    text-transform: uppercase;
    
;
    /* margin-top: 20px; */
}
.flex-container {
    display: flex;
    justify-content: center; /* Horizontally center the flex items */
    gap: 70px;               /* Add space between flex items */
    margin-top: -60px;
}

.flex-item {
    margin-top: 130px;
    /* padding: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    height: 180px;
    width: 200px;
    /* background-color: rgba(255, 255, 255, 0.2);  */
    border-radius: 5px;
    
}

.main-content {
    padding: 20px;
    background-color: #F5F5F5; /* Background color for the rest of the content */
    color: black; /* Text color for better contrast */
    z-index: 2; /* Ensure it appears above the video */
    position: relative; /* Maintain its position in the document flow */
}
.block-container-heading {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: #E0E0E0;
;
    /* margin-top: -20px; */
    margin: -20px;
    padding-top: 30px;
    color: #2db9f0;
    /* margin-left: 20px;
    margin-right: 20px; */

}
.block-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: #E0E0E0;
    padding: 20px;
    margin: -20px;
    /* margin-top: -10px;
    margin-left: -10px; */
    /* color: #db4534; */

}

.block {
    width: 200px;
    height: 200px;
    background-color: #F5F5F5;
    color: #2c3e50;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* font-weight: bold; */
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 10px;
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.block-logo{
    padding-left: 30px;
    padding-top: 20px;
}

.block:hover {
    transform: scale(1.1);
    /* background-color: #3498db; */
    background-color: #2db9f0;

    color: #ecf0f1;
}
.About-us{
    margin: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.about_text_container{
    margin-right: 100px ;
    margin-top: 30px;

}
.about_text{
    color: #2c3e50;
    font-size: larger;
    line-height: 1.6;
}
.about-logos{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.about_slideshow{
    margin-left: -120px;
    margin-right: -120px;
}
.whoarewe{
    color: #2db9f0;
    font-weight: bolder;
    font-size: xx-large;
    /* margin-bottom: -2px; */
    
}
/* General Footer Styles */
footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 20px 0;
    margin: -50px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
   
}

.footer-container div {
    flex: 1;
    min-width: 300px;
}

.contact-info{
    margin-left: 70px;
}

/* Contact Information Styles */
.contact-info h4, .quick-links-social h4 {
    margin-bottom: 10px;
}

.contact-info p, .quick-links-social ul li {
    margin-bottom: 8px;
}

/* Quick Links Styles */
.quick-links-social ul {
    list-style: none;
    padding: 0;
}

.quick-links-social ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.quick-links-social ul li a:hover {
    text-decoration: underline;
}

/* Social Media Links */
.social-media a {
    color: #FFFFFF;
    margin-right: 15px;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

/* Bottom Footer Section */
.footer-bottom {
    background-color: #1A1A1D;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.newsletter-signup form {
    margin-bottom: 10px;
}

.newsletter-signup input[type="email"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #4B4B4B;
    background-color: #2C3E50;
    color: #FFFFFF;
}

.newsletter-signup button {
    padding: 5px 10px;
    background-color: #4B4B4B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background-color: #3D3D3D;
}

/* Legal Information */
.legal p {
    margin: 5px 0;
}
#cards-container{
    /* background-color: red; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    z-index: 10;

}
.card{
    height: 80%;
    width: 24%;
    /* background-color: #2db9f0; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;

}
#card1{
    background-image: url(https://files.wri.org/d8/s3fs-public/styles/1575_wide/s3/2023-12/Planet-Labs-Dove-Satelllites.png?VersionId=PSC7eNXi2DJ4cFilU433ysLKNvD6MZew&itok=Yez7qPVQ);
}
#card2{
    background-image: url(fish.jpeg);
}
#card3{
    background-image: url(check.jpeg);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #2db9f0;
    /* padding-top: 1390px; */
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: black;
    font-size: 30px;
    white-space: nowrap;
    margin-bottom: 20px;
   
}
.overlay p{
    color: black;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(1,1,0,19deg);
}
