body {
    margin: 0;
    padding: 0;
    font-family: Product Sans, sans-serif;
    /* background-image: url('waterbg.png');  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   */
     background-color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}



header{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: grey;
    font-size: 15px;
    color: #f5f5f5;
    height: 40px;
}
.Header-links{
    margin-top: 0px;
    margin-left: 25px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 15px;
    font-family: Product Sans, sans-serif;

}
.custom-link {
    color: inherit; /* Keeps the text color the same as the parent element */
    text-decoration: none; /* Removes the underline */
  }
.custom-link:hover {
    color: #e2262c;
}



.logo {
    height: 100px;
    margin-top: -25px;
}

.site-title {
    margin-left: 5px;
    margin-top: 0; /* Ensure margin is consistent */
    color: #f5f5f5;
    font-size: 1.5em; /* Adjust font size as needed */
}

.home-link {
    color: #db4534;
    margin-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .custom-link {
    margin-left: 20px;
    color: #000; /* Default color, adjust as needed */
}

.custom-link {
    text-decoration: none;
    font-size: 1em;
    color: #f5f5f5; /* Default color for all links */
}

.custom-link:hover {
    color: #2db9f0; /* Hover color */
}


.head
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #2db9f0;
    padding-top: 10px;

    font-size: 40px;}
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
   
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
}


.text-block {
    
    width: 80px;
    height: 50px;
    padding: 50px;
    background-color:#f5f5f5; 
    color: #2c3e50;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    border-radius: 20px;
    /* box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.text-block:hover {
    transform: translateY(-5px);
    background-color: #2db9f0;;
    /* color: #db4534; */
}

.text-block:active {
    transform: translateY(2px);
}

footer {
    background-color:black;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
